@page
@model KhumaloCraftFinal.Views.Home.About_usModel
@{
}
<div class="container mt-5">
    <h2 class="mb-4">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Our Mission</h3>
            <p>We aim to provide our customers with the best service possible.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <h4>Our Team</h4>
            <p>Mr. Khumalo moved to Cape Town in 2004, where he initially partnered with two friends to open a workshop. After a few years, Mr. Khumalo decided to venture out on his own, establishing his independent workshop in 2010. His dedication and passion for craftsmanship have been the cornerstone of our success.</p>
            <img class="img-fluid" src="~/Assets/Khumalo1.jpg" alt="Mr. Khumalo" />
        </div>
        <div class="col-md-4">
            <h4>Our History</h4>
            <p>Founded in 2000, Khumalo Craft has grown from a small startup into a leading player in the industry. Our journey has been marked by a relentless commitment to excellence and a strong focus on customer satisfaction. Our innovative approach and quality service have earned us a reputable name in the market.</p>
        </div>
        <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions or would like to learn more about our services, please don't hesitate to <a href="/Home/ContactUs">contact us</a>. We are always here to assist you and look forward to hearing from you!</p>
        </div>
    </div>
</div>
