@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-4">
    <h2 class="mb-3">Our Items</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="~/Assets/Artwork1.jpg" class="card-img-top" alt="Item 1">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-text">A stunning, one-of-a-kind artwork featuring a majestic buck. Perfect for adding a touch of nature's elegance to your space.</p>
                    <p class="card-text"><strong>Price:</strong> R4000</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="~/Assets/artwork4.jpg" class="card-img-top" alt="Item 2">
                <div class="card-body">
                    <h5 class="card-title">Item 2</h5>
                    <p class="card-text">Capture the grace and speed of the fastest animal on the planet with this exquisite piece of art. A true conversation starter.</p>
                    <p class="card-text"><strong>Price:</strong> R5000</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="~/Assets/artwork.jpg" class="card-img-top" alt="Item 3">
                <div class="card-body">
                    <h5 class="card-title">Item 3</h5>
                    <p class="card-text">Add a touch of rustic charm to your decor with this unique instrument covered in buck skin, combining art and tradition.</p>
                    <p class="card-text"><strong>Price:</strong> R3000</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="~/Assets/artwork6.jpg" class="card-img-top" alt="Item 4">
                <div class="card-body">
                    <h5 class="card-title">Item 4</h5>
                    <p class="card-text">Bring the wild beauty of the jungle into your home with this vibrant and lively depiction of jungle animals. Perfect for any nature enthusiast.</p>
                    <p class="card-text"><strong>Price:</strong> R3000</p>
                </div>
            </div>
        </div>
    </div>
</div>
